{% extends "base.html" %}

{% block content %}

    <div>
        <div>
            <h1>Sign In</h1>

            <form id = "signin_form" name = "signin_form" action="">

                <label for="email">Email</label>
                <input type="email" name = "email" class = "field" required>

                <label for="password">Password</label>
                <input type="password" name = "password" class = "field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign In" class ="btn">
            </form>
        </div>
    </div>

{% endblock%}